.tile {
    font-size: .8125rem;
    /* font-weight: 700; */
    padding: 0.25rem 0.5rem;
    /* border-radius: 0.3125rem; */
    position: absolute;
    cursor: pointer;
    overflow: hidden;
    transition: background-color .1s ease-in-out;
    color: var(--font-color);
}
.tile-header {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: space-between; */
    line-height: 1.15rem;
    min-width: 120px;
}
.tile-header > span:first-child {
    font-weight: 700;
}
.tile-1 {
    background-color: rgb(252, 236, 190);
    border: 1px solid rgb(251, 223, 147);
}
.tile-1:hover {
    background-color: rgb(247, 232, 186);
    border: 1px solid rgb(251, 223, 147);
}
.tile-2 {
    background-color: rgb(50, 139, 207);
    border: 1px solid rgb(53, 127, 184);
    color: white;
}
.tile-2:hover {
    background-color: rgb(47, 132, 196);
    border: 1px solid rgb(53, 127, 184);
    color: white
}
.tile-3 {
    background-color: rgb(185, 126, 194);
    border: 1px solid rgb(165, 120, 171);
    color: white;
}
.tile-3:hover {
    background-color: rgb(175, 119, 184);
    border: 1px solid rgb(165, 120, 171);
    color: white
}
.tile-break {
    background: repeating-linear-gradient(
        45deg,
        rgb(215, 219, 239),
        rgb(215, 219, 239) 10px,
        rgb(188, 195, 229) 10px,
        rgb(188, 195, 229) 20px
    );
    border: 1px solid rgb(188, 195, 229);
    border-radius: 0;
}
